# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.env
*.egg-info/
dist/
build/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.lock.hcl

# Airflow
airflow/logs/
airflow/plugins/

# dbt
finrisk_dbt/target/
finrisk_dbt/dbt_packages/
finrisk_dbt/logs/

# Data files
data/*.csv
data/*.parquet
*.csv

# Logs
logs/
*.log

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Credentials
*.pem
*.key
credentials/
.aws/

# Test artifacts
.pytest_cache/
htmlcov/
.coverage
