# Python
__pycache__/
*.py[cod]
*.so
venv/
env/
.env
*.egg-info/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# dbt
finrisk_dbt/target/
finrisk_dbt/dbt_packages/
finrisk_dbt/logs/

# Airflow
airflow/logs/
airflow/plugins/

# Data
data/*.csv
data/*.parquet
*.csv

# Logs
logs/
*.log
ge_report_*.json

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Credentials
*.pem
*.key

# Test artifacts
.pytest_cache/
.coverage
